* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  margin-top: 100px;
}

.easy-mode {
  width: calc(50px * 10);
}

.medium-mode {
  width: calc(50px * 9);
}

.hard-mode {
  width: calc(50px * 7);
}

.box {
  width: 50px;
  height: 50px;
  border: 1px solid black;
}

.box.blue {
  background-color: blue;
}
